.well {
    background: beige;
    padding: 15px;
    margin-bottom:5px;
    border-radius:10px;
}
.mar-right-5 {
    margin-right: 5px;
}
.error {
    color:red;
    font-size: 15px;
    display: none;
}
.disabled {
    opacity: 0.65;
    cursor: not-allowed;
}